body {
    background-color: #272e34;
    color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
}

.wrapper {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    background-color: #fff;
    min-height: 500px;
    min-width: 1200px;
    border-radius: 5px;
    border: 1px solid rgb(192, 223, 19);
    background-color: #265169;
    &_title {
        text-align: center;
    }
    &_subTitle {
        text-align: center;
    }
    &_submit {
        margin-top: 20px;
    }
    &_errorView {
        text-align: center;
        margin-top: 70px;
    }
}

.calendar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 30px;
    &_unit {
        width: 280px;
        height: 35px;
        margin-left: 10px;
        font-size: 20px;
    }
    &_but {
        display: block;
        width: 100px;
        height: 30px;
        margin: 0 auto;
    }
    &_opt {
        font-size: 25px;
    }
}